venv/
__pycache__/
*.pyc
.env.local
.env
.env.global
.idea/
.vscode/
*.log
.mypy_cache/
infrastructure/terraform/.terraform
infrastructure/terraform/errored.tfstate
service-account.json
.env.global
get-pip.py
.DS_Store